BlinkLED.X/build/
BlinkLED.X/debug/
BlinkLED.X/dist/
BlinkLED.X/queuelogs/
BlinkLED.X/report/
BlinkLED.X/*.log*
UART/build/
UART/debug/
UART/dist/
UART/queuelogs/
UART/report/
UART/*.log*
AdcOpampCOG/build/
AdcOpampCOG/debug/
AdcOpampCOG/dist/
AdcOpampCOG/queuelogs/
AdcOpampCOG/report/
AdcOpampCOG/*.log*
NiMH_Charger/build/
NiMH_Charger/debug/
NiMH_Charger/dist/
NiMH_Charger/queuelogs/
NiMH_Charger/report/
NiMH_Charger/*.log*